Package: github-desktop
Version: 2.6.3-linux1
Section: GNOME;GTK;Development
Priority: extra
Architecture: amd64
Depends: libgtk-3-0, libnotify4, libnss3, libxtst6, xdg-utils, libatspi2.0-0, libdrm2, libgbm1, libxcb-dri3-0, libxss1, kde-cli-tools | kde-runtime | trash-cli | libglib2.0-bin | gvfs-bin, libcurl3 | libcurl4, libsecret-1-0, gnome-keyring
Recommends: pulseaudio | libasound2
Suggests: gir1.2-gnomekeyring-1.0, libgnome-keyring0, lsb-release
Installed-Size: 242295
Maintainer: Brendan Forster <github@brendanforster.com>
Homepage: https://github.com/shiftkey/desktop
Description: Simple collaboration from your desktop
 This is the unofficial port of GitHub Desktop for Linux distributions
